@media (max-width: 768px) {
    .menu {
        display: flex;
        flex-wrap: nowrap;
        left: 100%;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        padding: 120px 0 50px 0;
        height: 100vh;
        width: 250px;
        background: rgba(5, 8, 8, 0.95);
        backdrop-filter: blur(20px);
        border-left: 1px solid var(--accent-dim);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 10;
    }

    /* Side Navbar Slide-in */
    .nav-links.active {
        right: 0;
    }

    .nav-links a {
        margin: 10px 0;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .up {
        top: 0;
    }

    .mid {
        top: 50%;
        transform: translateY(-50%);
    }

    .down {
        bottom: 0;
    }

    .hero {
        margin-top: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        flex-direction: column-reverse;
    }

    .glitch {
        font-size: 3rem;
        text-align: center;
        margin: 10px 0;
    }

    .hero-desc {
        text-align: center;
    }

    .circle-design {
        width: 300px;
        height: 300px;
    }

    .character-img {
        width: 305px;
        height: 305px;
        top: -7px;
    }

    .section {
        padding: 34px 10%;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        flex: 0;
        margin: 0 0 1% 0;
        align-items: center;
    }

    .hero-visual {
        margin: 0;
    }

    .skills-header {
        font-size: small;
    }

    .about-text {
        text-align: justify;
    }

    .contact-box {
        margin: 0 auto;
    }

}


@media print {

    /* Hide the entire body */
    body {
        display: none !important;
    }

    /* OR: Hide the content but show a custom message */
    html::after {
        content: "KYA HUA PRINT NHI HO RAHA 😂😂";
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 50px;
        font-family: 'Courier New', monospace;
        color: #ff00ff;
        padding: 50px;
    }
}